.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.app-Footer{
	bottom: 0%;
}

.header{
	top:0;
	width: 100%;
	height: 100px;
	background-color: blue;

}

/*Full page responsive background video*/
.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#footer{
	background-color: #4a4f58;
	position: relative;
	bottom: 0;
}
ul.socialIcons {
	padding: 0;
	text-align: center;
}
.socialIcons li {
	background: yellow;
	list-style: none;
	display: inline-block;
	margin: 15px;
	margin-top: 15%;
	border-radius: 2em;
	overflow:hidden;
}
.socialIcons li a {
	display: block;
	padding: .5em;
	max-width: 2.3em;
	min-width: 2.3em;
	height: 2.3em;
	white-space: nowrap;
	line-height: 1.5em;
	transition:.5s;
	text-decoration: none;
	font-family: arial;
	color: #fff;
}
.socialIcons li i {
	margin-right:.5em;
}
.socialIcons li:hover a {
	max-width:200px;
	padding-right:1em;
}
.socialIcons .github {
	background: #24292e;
	box-shadow: 0 0 16px #24292e;
}
.socialIcons .linkedin {
	background: #0077B5;
	box-shadow: 0 0 16px #0077B5;
}
.socialIcons .google {
	background: #d93025;
	box-shadow: 0 0 16px #d93025;
}

@media screen and (max-width: 1024px) { /* Specific to this particular video */
	.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}
