body, html {
  height: 100%;
	margin: 0;
	background-image:url('../files/codes-coding-computer-270623.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.app { 
	width: 100%;
	height: 100%;
	position: absolute;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
ul.socialIcons {
	padding: 0;
	text-align: center;
	position: absolute;
	float: left;
	top: 40%;
	right:1%;
}
.socialIcons li {
	background: yellow;
	margin: 15px;
	border-radius: 2em;
	overflow:hidden;
  content: "";
  display: table;
  clear: left;
}
.socialIcons li a {
	display: block;
	padding: .5em;
	max-width: 2.3em;
	min-width: 2.3em;
	height: 2.3em;
	white-space: nowrap;
	line-height: 1.5em;
	transition:.5s;
	text-decoration: none;
	font-family: arial;
	color: #fff;
}
.socialIcons li i {
	margin-right:.5em;
}
.socialIcons li:hover a {
	max-width:200px;
	padding-left:1em;
}
.socialIcons .github {
	background: #24292e;
	box-shadow: 0 0 16px #24292e;
}
.socialIcons .linkedin {
	background: #0077B5;
	box-shadow: 0 0 16px #0077B5;
}
.socialIcons .google {
	background: #d93025;
	box-shadow: 0 0 16px #d93025;
}

@media screen and (max-width: 720px) { /* Specific to this particular video */

}